
#min{
  -fx-background-image: url("BackGroundPicture.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
.button { /* 绿色按钮 */
    -fx-background-color : linear-gradient(to bottom, #696969,#808080);
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.8),5,0,0,4);
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 4px;
    -fx-border-width : 2px;
    -fx-border-color: #3B3B3B;
    -fx-transition:all 0.2s ease;

}
.button:hover {
     -fx-background-color :#696969;
     -fx-translate-y:1px;

}
.table-header-cell {
    -fx-background-color: skyblue;
}




