
#min{
  -fx-background-image: url("BackGroundPicture.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
.button {
    -fx-background-color: #90EE90; /* 绿色按钮 */
    -fx-text-fill: white;
    -fx-cursor: hand; /* 鼠标悬停变手型 */
    -fx-transition: transform 0.2s ease; /* 过渡动画：0.2秒平滑变化 */
}


/* 鼠标按下时缩小（可选，增强交互感） */
.button:pressed {
    -fx-transform: scale(0.5);
}



